.layout_container {
  display: flex;
}
.side_left {
  flex: 1;
}
.side_center {
  flex: 15;
}
.side_right {
  flex: 1;
}

.heading {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  color: brown;
}
